<configuration>
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <loggerName/>
                <message/>
                <arguments/>
                <mdc/>
                <context/>
                <threadName/>
            </providers>
        </encoder>
    </appender>

    <logger name="domain" level="INFO" additivity="false">
        <appender-ref ref="JSON"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="JSON"/>
    </root>
</configuration>
